.container{
    font-family: courier;
    background-color:rgb(243, 243, 243);
}
.date{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}

.head{
    text-align: center;
    background-color:#1D174E;
    color: aliceblue;
}
.fa-solid{
  color: rgb(202, 33, 33);
}
.head p{
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
}
.top_news{
    background-color:#F3F3F3;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}
.astroric{
    color: rgb(241, 8, 8);
}
.news-items{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #E6E6E6;

}
.item{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
}
table{
    border: 1px solid rgb(224, 228, 231) ;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid rgb(171, 191, 207);
    padding: 10px;
}
th{
    background-color: #1D174E;
    color: aliceblue;
}
.highlight_header{
    background-color:#E6E6E6;
    font-weight: bold;
    font-size: 25px;
}
#read-more {
    display: none;
}
#extra-content{
    display: none;
}
#read-more:checked ~  #extra-content {
    display: block;
}

#read-more_1 {
    display: none;
}
#extra-content_1{
    display: none;
}
#read-more_1:checked ~  #extra-content_1 {
    display: block;
}

#read-more_2 {
    display: none;
}
#extra-content_2{
    display: none;
}
#read-more_2:checked ~  #extra-content_2 {
    display: block;
}
.footer-content{
    background-color: #1D174E;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
.btn{
    background-color: rgb(185, 41, 41);
    border-radius: 10px;
}
